{{> header}}
<main>
  <div class="row no-gutters" id="logo-view">
    <div class="container text-center">
      <h1><strong>New York Times Mongo Scraper</strong></h1>
    </div>
  </div>

  <div class="row no-gutters" id="article-view">
      <div class="row no-gutters">
        <div class="col">
          <div class="container">
            {{#if articles}}
              {{#each articles}}
                <div class="newsArticle" id="{{id}}">
                  <div class="title"> {{title}}
                    <div>
                      <button id="removeArticle" data-id="{{id}}" class="btn btn-secondary">Un-Save Article</button>
                      <button type="button" data-toggle="modal" data-target="#myModal" id="comments" data-id="{{id}}" class="btn btn-warning">Comments</button>
                    </div>
                  </div>
                  <div class="link"><a href="https://www.nytimes.com{{link}}">Link to Article</a></div>
                </div>
              {{/each}}
            {{else}}
              <div class="noArticles">
                There are currently no saved Articles to display. Use the Scrape button above and save an Article!
              </div>
            {{/if}}
          </div>

        </div>
      </div>
  </div>
</main>

{{> footer}}
<script>
  $(document).ready(function() {
    $("#removeArticle").on("click", function(event){
      event.preventDefault()
      const id = $(this).data("id")
      $(`#${id}`).hide()
      $.ajax({
        type: "PUT",
        url: `/saved/${id}`,
        data: {
          saved: false
        }
      }).then(response => {
        if(response) console.log(response)
      })

    })

    $("#comments").on("click", function(event){
      event.preventDefault()
      const id = $(this).data("id")
      $(`#${id}`).hide()
      $.ajax({
        type: "GET",
        url: `/comment/${id}`
      }).then(response => {
        if (response) $(document.location).attr('href', `/comment/${id}`)
      })
    })
  })
</script>